<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weatherwear.weatherwear">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".alarm.AlarmSettingsActivity"
            android:label="@string/title_activity_alarm_scheduler"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayItemActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="weatherwear.weatherwear.alarm.AlarmReceiver" />

        <activity
            android:name=".vacation.VacationCreatorActivity"
            android:label="@string/title_activity_vacation_creator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".vacation.VacationOutfitsActivity"
            android:label="@string/title_activity_vacation_outfits"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".NewOutfitActivity"
            android:label="@string/title_activity_vacation_creator"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
